/* reset */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,menu{
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;


}

/* container */
.container-sm {
max-width: 1032px;
}
.container-md {
    max-width:1232px;

}
.container-sm, .container-md, .container-bg{
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
    

}
button {
    background-color: rgb(0, 97, 255);
    color: white;
    padding:5px;
    border-color: transparent;
    display:inline-block;

}

h1 {
    font-size: 60px;
}

p{
    font-size: 14px;
}

.arrow {
    font-size: 50px;
    font-weight: 100px; 
    margin-top: auto;
}


/* header */
header{
    background-color: white;
    
}

.drpbx-hdr {
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 10px;

    

}
.hdr-row{
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    
}

/* main */

/* hero */

.hero {
    background-color: rgb(180, 208, 231);
    padding: 70px 0 30px;
}

.colonna-1{
    width: 30%;
    margin-top: 30px;
    align-items:flex-start ;
}

.colonna-2{
    width: 70%;
    margin-top: 30px;
}

.prg-hero{
    
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* upper-sct */

.upper-sct{
    background-color: white;
    padding: 40px;

}
.ttl-us{
    margin-top: 40px;
    font-size: larger;

}

.btn-us{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
.cll-us{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
   
}

.cll-lst{
}

.colonna-1d3 {
    width: calc(3 * 100% / 12);
    flex-grow: 1;
    border: 1px solid rgb(0, 0, 0) ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.colonna-3d3 {
    width: 100%;
    border: 1px solid black ;
    opacity: 0.5;

}





/* debug */
/* .debug header{
    background-color: aqua;

}

.debug .drpbx-hdr{
border: black solid ;

} */

/* .debug .colonna-1d3{
    border: solid black;
}


.debug .colonna-3d3{
    border: solid black;
} */